<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://localhost:3000/static/css/index.css">
</head>
<body>

<ul>
  <li><a href="index" class="colored"><b><i>ChillBarber</i></b></a></li>
  <li><a href="index">Главная</a></li>
  <li><a href="service">Услуги</a></li>
  <li><a href="contacts" class="selected">Контакты</a></li>
  <li><a href="register">Запись</a></li>
</ul>

<h1 class="header">Контакты</h1>
<div>
<table>
  <tr>
    <td>Где мы находимся</td>
    <td id="address">ул. Черепаха д.77</td>
  </tr>
  <tr>
    <td>Почта для сотрудничества</td>
    <td><a href="mailto:chillbarber@awesome.chill" class="coloredLink" id="email">chillbarber@awesome.chill</a></td>
  </tr>
  <tr>
    <td>Телефон для записи</td>
    <td id="phone">+7 (945) 99-99-99</td>
  </tr>
  <tr>
    <td>Наш представитель</td>
    <td id="representative">Ринат Гослинов</td>
  </tr>
</table>
<img src="http://localhost:3000/static/img/rinat.jpg" width="40%">
<div>
</body>
</html>
