<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://localhost:3000/static/css/crud.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="http://localhost:3000/static/js/crud.js"></script>
</head>
<body>
    <div class="row">
        <div class="large-12 columns">
            <a href="crud"><h1>CRUD</h1></a>
          <table id="crud">
              <tr>
                <td>lorem1</td>
                <td>lorem2</td>
                <td>lorem3</td>
                <td>lorem4</td>
              </tr>
              <tr>
                <td>lorem1</td>
                <td>lorem2</td>
                <td>lorem3</td>
                <td>lorem4</td>
              </tr>
              <tr>
                <td>lorem1</td>
                <td>lorem2</td>
                <td>lorem3</td>
                <td>lorem4</td>
              </tr>
              <tr>
                <td>lorem1</td>
                <td>lorem2</td>
                <td>lorem3</td>
                <td>lorem4</td>
              </tr>
          </table>
        </div>
      </div>
</body>
</html>
