<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://localhost:3000/static/css/index.css">
</head>
<body>

<ul>
  <li><a href="index" class="colored"><b><i>ChillBarber</i></b></a></li>
  <li><a href="index" class="selected">Главная</a></li>
  <li><a href="service">Услуги</a></li>
  <li><a href="contacts">Контакты</a></li>
  <li><a href="register">Запись</a></li>
</ul>

<h1 class="header">Приветствуем вас в ChillBarber</h1>
<i class="textblock">
  Отсутствие женщин — главная особенность барбершопа.
  Даже в укромных и самых отдаленных уголках заведения
  посетители не увидят услышат ни слова о ноготках и мейкапе,
  не поймают шлейф женского парфюма и не погрузятся невольно
  в историю чьих-то семейных отношений.
  Это не значит, что вход в заведение строго запрещен
  представительницам прекрасного пола. В барбершоп с удовольствием
  берут на работу девушек-мастеров, владеющих техниками стрижки и бритья.
</i>
</body>
</html>
