<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://localhost:3000/static/css/index.css">
<script src="http://localhost:3000/static/js/index.js"></script>
</head>
<body>

<ul>
  <li><a href="index" class="colored"><b><i>ChillBarber</i></b></a></li>
  <li><a href="index">Главная</a></li>
  <li><a href="service" class="selected">Услуги</a></li>
  <li><a href="contacts">Контакты</a></li>
  <li><a href="register">Запись</a></li>
</ul>

<div>
    <h1>Наши услуги</h1>
    <table>
        <tr>
            <td>Мужская стрижка</td>
            <td><b id="price1">1300 ₽</b></td>
        </tr>
        <tr>
            <td>Детская стрижка</td>
            <td><b id="price2">600 ₽</b></td>
        </tr>
        <tr>
            <td>Стрижка машинкой</td>
            <td><b id="price3">700 ₽</b></td>
        </tr>
        <tr>
            <td>Стрижка бороды</td>
            <td><b id="price4">900 ₽</b></td>
        </tr>
        <tr>
            <td>Бритьё головы</td>
            <td><b id="price5">900 ₽</b></td>
        </tr>
        <tr>
            <td>Скидка панкам!</td>
            <td><b><button id="discountButton" class="discountButton" onclick="discount()">
                Применить
            </button></b></td>
        </tr>
        
    </table>
    <img id="image" src="http://localhost:3000/static/img/man.jpg" class="serviceImage">
</div>
</body>
</html>
